PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"
JWT_SECRET="key-here"
JWT_ACCESS_EXPIRY="1d"
JWT_REFRESH_EXPIRY="7d"
REDIS_URL="redis://localhost:6379"
DB_POOL_MAX=5
DB_POOL_MIN=1
